<h1>You listed a car!</h1>
    <h4>@Model.GetMakeModel()</h4>
    <p>@Model.GetPrice()</p>
    <p>@Model.GetMiles()</p>
<p><a href="/">Add another car</a></p>
<p><a href="/inventory">View Current Inventory</a></p>
